
/ext-deps
/modelconverter/Debug
/raytracer/Debug
/smak/Debug
/smak/ipch
/lib/release
/modelconverter/Release
/raytracer/Release
/smak/Release
/digitanks/src/Debug
/digitanks/src/Debug (No Collada)
/digitanks/src/Release
/digitanks/src/Release (No Collada)
/digitanks/src/ipch
/modelconverter/Debug (No Collada)
/modelconverter/Release (No Collada)